<section class="container">
    <div class="img-gallery-magnific">
        <div class="magnific-img">
            <img src="https://unsplash.it/974/?random" alt="9.jpg" />
        </div>
        <div class="magnific-img">
            <img src="https://unsplash.it/900/?random" alt="10.jpg" />
        </div>
        <div class="magnific-img">
            <img src="https://unsplash.it/902/" alt="3.jpg" />
        </div>
        <div class="magnific-img">
            <img src="https://unsplash.it/901" alt="4.jpg" />
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Gallery",
  "tag": "section",
  "class": "gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Gallery"
    }
  ],
  "blocks": [
     {
       "name": "Image",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}
