/*============== Heading Css Start ==============*/
.grid__heading-text .heading-size-5,
.hero__content .heading-size-8 {
  font-size: 35px;
  font-weight: 700;
}
/*============== Heading Css End ==============*/
/*============== Button Css Start ==============*/
.btn {
  padding: 13px 39px;
}
/*============== Button Css End ==============*/
/*============== Header Css Start ==============*/
.navlink .navtext {
  font-size: calc(var(--font-3) * var(--FONT-ADJUST-NAV));
}
/*============== Header Css End ==============*/
/*============== Hero Slider Css Start ==============*/
.slideshow .hero__title {
  max-width: 370px;
}
.slideshow .hero__description {
  max-width: 460px;
}
.slideshow .hero__title {
  line-height: 60px;
}
.slideshow .hero__description {
  line-height: 26px;
}
/*============== Hero Slider Css End ==============*/
/*============== Collection Css Start ==============*/
.collection-hover__button.heading-size-7 {
  font-size: 20px;
  color: #212121;
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}
.collection-hover__button.is-selected {
  font-size: 40px;
  transition: 0.3s all linear;
  margin-top: 15px;
  margin-bottom: 15px;
}
.collections-hover__images .collections-hover__image {
  transform: translateX(-100%);
  transition: 0.3s linear all;
}
.collections-hover__images .collections-hover__image.is-visible {
  transform: translateX(0);
  transition: 0.3s linear all;
}
.collections-hover__image .image-wrapper {
  padding-top: calc(1 / var(--aspect-ratio) * 100%);
}
/*============== Collection Css End ==============*/
/*============== Tab Collection Css Start ==============*/
.index-tab-collections .product-item--featured .grid__heading-text {
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.index-tab-collections .product-item--featured .grid__heading-actions {
  text-align: center;
}
/*============== Tab Collection Css End ==============*/
/*============== Multicolumn Css Start ==============*/

/*============== Multicolumn Css End ==============*/
/*============== Min width Media Query Css Start ==============*/
@media screen and (min-width: 769px) {
  .newsletter-section .brick__block--text .hero__content--compact {
    width: 50%;
  }
  .newsletter-section .newsletter__wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 750px) {
  .main-collection .image-collection_hover {
    grid-template-columns: 1fr 1fr;
  }
  .image-collection-hover__actions {
    flex-direction: column;
  }
  .main-collection .collections-hover__inner,
  .main-collection .collections-hover__images {
    grid-column-start: 2;
  }
  .main-collection .collections-hover__actions {
    align-items: flex-start;
  }
}
/*============== Min width Media Query Css End ==============*/
@media screen and (max-width: 768px) {
  .newsletter-section .brick__block__text {
    flex-direction: column;
  }
  .newsletter__wrapper {
    width: 100%;
  }
  .newsletter-form {
    margin: 0 auto;
  }
  .newsletter-section .brick__block__text .hero__content {
    text-align: center;
    margin-bottom: 15px;
  }
}
