/*============== Heading Css Start ==============*/
.grid__heading-text .heading-size-5,
.hero__content .heading-size-8 {
  font-size: 35px;
  font-weight: 700;
}
/*============== Heading Css End ==============*/
/*============== Collection Css Start ==============*/
.main-collection .image-collection_hover {
  grid-template-columns: 1fr 1fr;
}
.image-collection-hover__actions {
  flex-direction: column;
}
.collections-hover__image.image-height--mobile {
  transform: translateX(-100%);
  transition: 0.3s linear all;
}
.collections-hover__image.image-height--mobile.is-visible {
  transform: translateX(0);
  transition: 0.3s linear all;
}
.collections-hover__images .image-overlay {
  background-color: unset;
}
/* .collections-hover__image {
  overflow: unset !important;
  opacity: unset !important;
  transform: unset !important;
  transition: unset !important;
} */
/*============== Collection Css End ==============*/
/* Min width Media Query Css Start */
@media screen and (min-width: 750px) {
  .main-collection .collections-hover__inner,
  .main-collection .collections-hover__images {
    grid-column-start: 2;
  }
  .main-collection .collections-hover__actions {
    align-items: flex-start;
  }
}
