.gallery-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gallery {
  width: 25%;
  line-height: 0;
}
.gallery img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 525px) {
  .gallery {
    width: 50%;
  }
}
